<h2> 
<%= FULL_NAME[@artist] %>
<a class ="right" href="/artists/<%= @artist %>"><button>Works of Current Artist</button></a>
<a class ="right" href="/artists"><button>All Artists</button></a>
<a class ="right" href="/favorites"><button>Favorites</button></a>

<% if session[:favorites].none? { |favorite| favorite[:url] == @url } %>
  <a class="right" href="/artists/<%= @artist %>/<%= @id %>/add_favorite"><button>Add to Favorites</button></a>
<% end %>

<% if session[:favorites].any? { |favorite| favorite[:url] == @url } %>
  <a class="right" href="/artists/<%= @artist %>/<%= @id %>/remove_favorite"><button id="deleter">Deleter! Remove From Favorites</button></a>
<% end %>
</h2>
<hr>
<h3> Principal / Involved Maker </h3>

<p class="indent"><%= find_maker %></p>

<h3> Title </h3>

<p class="indent"><%= find_title %></p>


<h3> Produced </h3>
<p class="indent"><%= find_production_years %></p>
<br>
<br>

<center><img src=<%= @image %> width=1000px alt="collection image" ></center>



