<h2> <%= FULL_NAME[@artist] %> (attributed works included) </h2>
<hr>
<h3> Principal or First Maker </h3>

<%= find_maker %>

<h3> Title </h3>

<%= find_title %>


<h3> Production Year(s) </h3>
<%= find_production_years %>
<hr>

<center><img src=<%= @image %> width=1000px alt="collection image" ></center>
<hr>
<a href="/artists/<%= @artist %>">Works of Current Artist</a>
<hr>
<a href="/artists">All Artists</a>

<hr>
<% if session[:favorites].none? { |favorite| favorite[:url] == @url } %>
<a href="/artists/<%= @artist %>/<%= @id %>/add_favorite">Add to Favorites</a>
<% end %>



